body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#div-vertical {
    float: left;
    height: 120vh;
    width: 14%;
}

#customers_div {
    font-size: 17px;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
    width: 65%;


}#eventsDiv {
    font-size: 17px;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
    width: 65%;


}

#calendar_div {
    margin-left: 15%;
    margin-top: 5%;
    float: left;
    width: 50%;


}

#map_lenged_div {
    text-decoration: none;
    text-align: center;
    margin-right: 4%;
    margin-top: 10%;
    float: right;
    width: 10%;


}


table td:nth-child(2) {
    text-align: left;
}

#workers_div {
    font-size: 17px;
    margin-left: 15%;
    margin-top: 5%;
    float: left;
    width: 50%;


}

#add_customer {
    margin-top: 5.5%;
    text-align: center;
}

.form-control.required {
    content: "*";
    color: red;
}

form {
    float: left;
    margin-left: 5%;
}

#add_customer_button {
    font-size: 25px;
    height: 80px;
    width: 200px;
}

/* Style the navigation bar */
.navbar {
    background-color: #004d99;
    padding-right: 5%;
    padding-top: 5%;
    overflow: auto;
    width: 50%;
}

/* Navbar links */
.navbar a {
    /* float: left;*/
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    padding: 5px;
    color: white;
    float: left;
    width: 100px;
    height: 95px;

}


/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #ff0066;

}

/*.navbar a:focus {
  color: #ff0066;

}*/


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

td:nth-child(1) {
    text-align: left;
}

td:nth-child(2) {
    text-align: right;
}


.table_head {
    background-color: #ff0066;
    color: white;

}

ul, li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    list-style-type: none;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}

.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

.input-group-addon.primary {
    background-color: rgb(255, 255, 255);
    color: rgb(50, 118, 177);
}

.content {
    width: 1200px;
    height: 400px;

    position: absolute;
    left: -150px;
    right: 150px;
    top: 0;
    bottom: 0;
    margin: auto;

    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.header_text {
    font-size: 40px;
}

.temp_password_div {
    width: 1000px;
    height: 400px;

    position: absolute;
    left: -100px;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;

    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.temp_password_text {
    font-size: 30px;
}

.sign_up_div {
    width: 1200px;
    height: 400px;

    position: absolute;
    left: 50px;
    right: 300px;
    top: 0;
    bottom: 0;
    margin: auto;

    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.change_temp_password_div {
    width: 2000px;
    height: 500px;

    position: absolute;
    left: -150px;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;

    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.account_div {

    position: absolute;
    top: 60px;
    right: 100px;
    text-align: center;
}

.hover_color:hover {
    background-color: blue;
    opacity: 0.9;
}

#workers_settings_div {
    position: absolute;
    top: 300px;
    left: 500px;
    text-align: center;
}

#customers_settings_div {
    position: absolute;
    top: 300px;
    left: 800px;
    text-align: center;
}

#system_settings_div {
    position: absolute;
    top: 300px;
    left: 1100px;
    text-align: center;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.tooltip {
    opacity: 1;
}
