<!DOCTYPE html>
<html ng-app="CRM" >
	<head>
		 <meta name="viewport" content="width=device-width, initial-scale=1">
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="CRM_Client.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="CRM_Client.css"></link>
	</head>
	
	<body>
		<div ng-controller="CRM_controller"> 
		
		    <div ng-show="login_page==true" id="log_in">
				<form class="container center_div row-md-offset-6">
					<div class="font-weight-bold text-center">
						<div class="text-primary">
							<div class="col-xs-3 col-md-offset-6">
								<form class="form-signin">
									<h2 class="form-signin-heading text-center">Please Log In</h2>
									<div class="form-group">
										<label for="li_uName">User Name</label>
										<input ng-model="l_uName" class="form-control w-50 p-3"  placeholder="Enter user name">
									</div>
									<div class="form-group">
										<label for="li_uPassword">Password</label>
										<input ng-model="l_password" type="password" class="form-control w-50 p-3"  placeholder="Enter Password">
									</div>
									
								</form>
							</div>
							
							<div class="col-xs-1 col-xs-offset-7 ">
								<button class="btn btn-md  btn-primary center-block " ng-click="logIn()">ENTER</button>
								</p>
							</div>
							
							
							<div class="col-xs-3 col-xs-offset-6">
								<label>Not registered yet?</label><a href="#" ng-click="validation_of_temp_password()"> Sign up here</a>
							</div>
					   </div>
				   </div>
				</form>		
			</div>
			
			 <div ng-show="temp_password_page==true">
			 
			    <form class="container center_div">
					<div class="font-weight-bold text-center">
						<div class="text-primary">
							<div class="col-xs-6 col-md-offset-5">
								<form class="form-signin">
								<h2 class="form-signin-heading text-center">Temporary password for registration</h2>
									<div class="form-group col-xs-6 col-lg-offset-3 text-center">
										<input ng-model="temp_password" type="password" class="form-control w-50 p-3" id="li_uPassword" placeholder="Enter temporary password">
									</div>
									<div class="col-xs-2 col-xs-offset-5 ">
										<button class="btn btn-md  btn-primary center-block " ng-click="verify_temporary_password()">verify</button>
										</p>
									</div>
								</form>
							</div>
					   </div>
				   </div>
				</form>		
			 </div>
		
		    <div ng-show="register_page == true" id="sign_up">
				<div class="container col-xs-7 col-md-offset-3">
					<form>
						<h2 class="form-signin-heading text-center">Please Sign Up</h2>
						<div class="form-group">
							<label for="uName">User Name</label>
							<input ng-model="registration_user_name" class="form-control w-50 p-3" placeholder="Enter user name">
						</div>
						<div class="form-group">
							<label for="fName">Name</label>
							<input ng-model="registration_name" class="form-control w-50 p-3" placeholder="Enter your name">
						</div>
						
						<div class="form-group">
							<label for="uEmail">Email Address</label>
							<input ng-model="registration_email" type="email" class="form-control w-50 p-3"  aria-describedby="emailHelp" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label for="uPassword">Password</label>
							<input ng-model="registration_password" type="password" class="form-control w-50 p-3"  placeholder="Enter Password">
						</div>
						<div class="form-group">
							<label for="uPassword2">Ensure Password</label>
							<input ng-model="registration_validation_password" type="password" class="form-control w-50 p-3"  placeholder="Enter Password again">
						</div>
						<button class="btn btn-lg btn-primary btn-block" ng-click="signUp()">SUBMIT</button>
					</form>
				</div>
			</div>
			
			
			
			<div ng-show = "menu==true" id="div-vertical" class="navbar">
				<ul>
					
					<li a class="active" ng-click="get_contacts_function()"><a><i class="fa fa-fw fa-user" > </i> Contacts</a></li>
					<li ng-click="calendar_function()"><a><i class="fa fa-calendar" ></i> Calendar</a></li> 
					<li ng-click="settings_function()"><a><i class="fa fa-gear"></i>Settings </a></li> 
				</ul>
			</div>
			
			<div id="info_navbar">
			<!--contacts table-->
				<form id="contacts_div" ng-show="show_contacts"><!-- -->
					<div class="input-group input-group">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-search" style="color:#003366" aria-hidden="true">
							</span>
						</span>	
						<input  class="form-control-md-6" ng-model="search" placeholder="search...">
					</div>
					<div class="col-lg-20">
						<table align="right" class="table table-hover-responsive"  class="text-center" >
							<thead>

								<tr class="table_head">
									<th>Name</th>
									<th>Status</th>
									<th>Phone Number</th>
									<th>Email</th>
									<th>Address</th>
									<th> </th>
									<th> </th>
									<th> </th>	
								</tr>
							<thead>
							<tbody>
								<tr ng-repeat="contactInfo in contactsInfo | filter:search" ng-init="contactIsEdit = false;">
										<td ng-show="contactIsEdit==false">{{contactInfo.Name}}</td>
										<td ng-show="contactIsEdit==false">{{contactInfo.Status}}</td>
										<td ng-show="contactIsEdit==false">{{contactInfo.PhoneNumber}}</td> 
										<td ng-show="contactIsEdit==false">{{contactInfo.eMail}}</td>
										<td ng-show="contactIsEdit==false">{{contactInfo.Address}}</td>	
										
									<td ng-show="contactIsEdit==false"><i class="fa fa-edit" style="font-size:24px;color:#008fb3"  aria-hidden="true" ng-click = "contactIsEdit =!contactIsEdit;update_contact_function(contactInfo)"></i></td>
									<div ng-if="contactIsEdit" class="form-group row" >
										
											<td ng-show="contactIsEdit==true"><input ng-model="contactInfo.Name" type="text" class="form-control" /></td>
										
										
										<td ng-show="contactIsEdit==true"><div class="form-group">
											<select class="form-control"  ng-model="contactInfo.Status" ng-change="onChange(contactInfo.Status)">
												<option value=''>-- Choose status --</option>
												<option ng-repeat="option in options">{{option.Status}}</option>
												<option >add a new status</option>
											</select>

										</div></td>
										
										<td ng-show="contactIsEdit==true"><input ng-model="contactInfo.PhoneNumber" type="text" class="form-control" /></td> 
										
										<td ng-show="contactIsEdit==true"><input ng-model="contactInfo.eMail" type="text" class="form-control" /></td>
										<td ng-show="contactIsEdit==true"><input ng-model="contactInfo.Address" type="text" class="form-control" /></td>	
									</div>
									
									<td><i class="fa fa-trash" style="font-size:24px;color:#003366" ng-show="contactIsEdit==false" aria-hidden="true" ng-click = "delete_contact_function(contactInfo)"></i></td>
									<td ng-show="contactIsEdit==true"><i class="fa fa-check-square-o" style="font-size:24px;color:#00e600" aria-hidden="true" ng-click = "save_updated(contactInfo)"></i></td>
									 
									 		
								</tr>
								<tr ng-show="get_new_contact_details==true">
									<td><input ng-model="newName" type="text" class="form-control" placeholder="Name" maxlength="25"/></td>
									<td ><div class="form-group">
										<select class="form-control" id="status_select" ng-model="newStatus" ng-change="onChange(newStatus)">
								            <option value=''>-- Choose status --</option>
											<option ng-repeat="option in options">{{option.Status}}</option>
											<option >add a new status</option>
										</select>
										
									</div></td>
									<td><input ng-model="newPhoneNumber"  type="text" placeholder="Phone Number"  class="form-control is-invalid" required /></td>
									<td><input ng-model="newEmail" type="text" class="form-control" placeholder="Email" /></td>
									<td><input ng-model="newAddress" type="text" class="form-control" placeholder="Address" maxlength="35"/></td>
									<td><i ng-click="check_and_save_details()" style="font-size:24px;color:#00e673" class="fa fa-check-square-o"/></td>
									<td><i class="fa fa-times" style="font-size:24px;color:#ff3333" ng-click="cancel_function()"></i></td>
									
								</tr>
								<tr ng-show="show_contacts==true">
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									
									<td ng-show="click==true"><i class="fa fa-user-plus" style="font-size:24px;color:#00cc99" ng-click="add_contact_function() "></i></td> 
								</tr>
															
							</tbody></p>
						</table>
					</div>
				</form>
				
				<div ng-show="show_calendar==true" ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> 

				<div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<button type="button" class="close" 
								   data-dismiss="modal">
									   <span aria-hidden="true">&times;</span>
									   <span class="sr-only">Close</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">
									New status
								</h4>
							</div>
							
							<!-- Modal Body -->
							<div class="modal-body">
								
								<div class="form-horizontal" role="form">
								  <div class="form-group">
									<div class="col-sm-10">
										<input class="form-control" ng-model="status_from_modal" placeholder="Enter your new status..."/>
								    </div>
								  </div>
								  
								</div>				
							</div>
							
							<!-- Modal Footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
										data-dismiss="modal">
											Close
								</button>
								<button type="button" class="btn btn-primary" ng-click="save_new_status()" data-dismiss="modal">
									Save
								</button>
							</div>
						</div>
					</div>
				</div>
				


	
				
			</div>
			
			<div class="modal fade" id="Message_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<!-- Modal Header -->
													<div class="modal-header">
														<h4 class="modal-title" id="myModalLabel">
															{{message_type}}
														</h4>
													</div>
													
													<!-- Modal Body -->
													<div class="modal-body">
														
														<div class="form-horizontal" role="form">
														  <div class="form-group">
															<div class="col-sm-10">
															{{message}}
															</div>
														  </div>
														  
														</div>				
													</div>
													
													<!-- Modal Footer -->
													<div class="modal-footer">
														<button type="button" class="btn btn-primary""
																data-dismiss="modal">
																	ok
														</button>
							
				
													</div>
												</div>
											</div>
										</div>

			
		</div>
	</body>
</html>