<!DOCTYPE html>
<html ng-app="CRM" >
	<head>
		 <meta name="viewport" content="width=device-width, initial-scale=1">
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
		<script type="text/javascript" src="angular.min.js"></script>
		<!--<script type="text/javascript" src="CRM_Client.js"></script>-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="CRM_Client.css"></link>
		
	</head>
	
	<body>
		<div ng-controller="CRM_controller" >
			
			<div id="div-vertical" class="navbar">
				<ul>
					
					<li a class="active" ng-click="get_contacts_function()"><a><i class="fa fa-fw fa-user" > </i> Contacts</a></li>
					<li ng-click="calendar_function()"><a><i class="fa fa-calendar" ></i> Calendar</a></li> 
					<li ng-click="settings_function()"><a><i class="fa fa-gear"></i>Settings </a></li> 
				</ul>
			</div>
			
			<div id="info_navbar">
			<!--contacts table-->
				<form id="contacts_div" ng-show="show_contacts"><!-- -->
					<div class="input-group input-group">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-search" style="color:#003366" aria-hidden="true">
							</span>
						</span>	
						<input  class="form-control-md-6" ng-model="search" placeholder="search...">
					</div>
					<div class="col-lg-20">
						<table align="right" class="table table-hover-responsive"  class="text-center" >
							<thead>

								<tr class="table_head">
									<th>Name</th>
									<th>Status</th>
									<th>Phone Number</th>
									<th>Email</th>
									<th>Address</th>
									<th> </th>
									<th> </th>
									<th> </th>	
								</tr>
							<thead>
							<tbody>
								<tr ng-repeat="contactInfo in contactsInfo | filter:search" ng-init="contactIsEdit = false;">
										<td ng-show="contactIsEdit==false">{{contactInfo.Name}}</td>
										<td ng-show="contactIsEdit==false">{{contactInfo.Status}}</td>
										<td ng-show="contactIsEdit==false">{{contactInfo.PhoneNumber}}</td> 
										<td ng-show="contactIsEdit==false">{{contactInfo.eMail}}</td>
										<td ng-show="contactIsEdit==false">{{contactInfo.Address}}</td>	
										
									<td ng-show="contactIsEdit==false"><i class="fa fa-edit" style="font-size:24px;color:#008fb3"  aria-hidden="true" ng-click = "contactIsEdit =!contactIsEdit;update_contact_function(contactInfo)"></i></td>
									<div ng-if="contactIsEdit" class="form-group row" >
										
											<td ng-show="contactIsEdit==true"><input ng-model="contactInfo.Name" type="text" class="form-control" /></td>
										
										
										<td ng-show="contactIsEdit==true"><div class="form-group">
											<select class="form-control" id="status_select" ng-model="contactInfo.Status" ng-change="onChange(contactInfo.Status)">
												<option value=''>-- Choose status --</option>
												<option ng-repeat="option in options">{{option.Status}}</option>
												<option >add a new status</option>
											</select>

										</div></td>
										
										<td ng-show="contactIsEdit==true"><input ng-model="contactInfo.PhoneNumber" type="text" class="form-control" /></td> 
										
										<td ng-show="contactIsEdit==true"><input ng-model="contactInfo.eMail" type="text" class="form-control" /></td>
										<td ng-show="contactIsEdit==true"><input ng-model="contactInfo.Address" type="text" class="form-control" /></td>	
									</div>
									
									<td><i class="fa fa-trash" style="font-size:24px;color:#003366" ng-show="contactIsEdit==false" aria-hidden="true" ng-click = "delete_contact_function(contactInfo)"></i></td>
									<td ng-show="contactIsEdit==true"><i class="fa fa-check-square-o" style="font-size:24px;color:#00e600" aria-hidden="true" ng-click = "save_updated(contactInfo);contactIsEdit =!contactIsEdit"></i></td>
									 
									 		<div class="modal fade" id="Message_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<!-- Modal Header -->
													<div class="modal-header">
														<h4 class="modal-title" id="myModalLabel">
															{{message_type}}
														</h4>
													</div>
													
													<!-- Modal Body -->
													<div class="modal-body">
														
														<div class="form-horizontal" role="form">
														  <div class="form-group">
															<div class="col-sm-10">
															{{message}}
															</div>
														  </div>
														  
														</div>				
													</div>
													
													<!-- Modal Footer -->
													<div class="modal-footer">
														<button type="button" class="btn btn-primary""
																data-dismiss="modal">
																	ok
														</button>
							
				
													</div>
												</div>
											</div>
										</div>

								</tr>
								<tr ng-show="get_new_contact_details==true">
									<td><input ng-model="newName" type="text" class="form-control" placeholder="Name" maxlength="25"/></td>
									<td ><div class="form-group">
										<select class="form-control" id="status_select" ng-model="newStatus" ng-change="onChange(newStatus)">
								            <option value=''>-- Choose status --</option>
											<option ng-repeat="option in options">{{option.Status}}</option>
											<option >add a new status</option>
										</select>
										
									</div></td>
									<td><input ng-model="newPhoneNumber"  type="text" placeholder="Phone Number"  class="form-control is-invalid" required /></td>
									<td><input ng-model="newEmail" type="text" class="form-control" placeholder="Email" /></td>
									<td><input ng-model="newAddress" type="text" class="form-control" placeholder="Address" maxlength="35"/></td>
									<td><i ng-click="check_and_save_details()" style="font-size:24px;color:#00e673" class="fa fa-check-square-o"/></td>
									<td><i class="fa fa-times" style="font-size:24px;color:#ff3333" ng-click="cancel_function()"></i></td>
									
								</tr>
								<tr ng-show="show_contacts==true">
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									
									<td ng-show="click==true"><i class="fa fa-user-plus" style="font-size:24px;color:#00cc99" ng-click="add_contact_function() "></i></td> 
								</tr>
															
							</tbody></p>
						</table>
					</div>
				</form>
				
				<div ng-show="show_calendar==true" ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> 

				<div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<button type="button" class="close" 
								   data-dismiss="modal">
									   <span aria-hidden="true">&times;</span>
									   <span class="sr-only">Close</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">
									New status
								</h4>
							</div>
							
							<!-- Modal Body -->
							<div class="modal-body">
								
								<div class="form-horizontal" role="form">
								  <div class="form-group">
									<div class="col-sm-10">
										<input class="form-control" ng-model="status_from_modal" placeholder="Enter your new status..."/>
								    </div>
								  </div>
								  
								</div>				
							</div>
							
							<!-- Modal Footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
										data-dismiss="modal">
											Close
								</button>
								<button type="button" class="btn btn-primary" ng-click="save_new_status()" data-dismiss="modal">
									Save
								</button>
							</div>
						</div>
					</div>
				</div>
				


	
				
			</div>
			
		</div>
	
		<script>
		(function() {
var app = angular.module("CRM", []);
	app.controller('CRM_controller', ['$scope','$http','$log', function($scope, $http,$log) {	

	var MAX_LETTERS_IN_NAME = 25;
	var MAX_LETTERS_IN_ADDRESS = 35;
	var contact_before_update;
    var new_status_option = "add a new status";
	$scope.PhoneNumber_before_update = undefined;
	
    $scope.show_contacts = false;
	$scope.get_new_contact_details = false;
	$scope.click = false;
	$scope.show_update_input = false;
	$scope.show_update_expression = false;
	$scope.check_phone_enable = false;
	$scope.show_calendar = false;

	$scope.contactsInfo=[];
	$scope.options=[];

   
	

	

	$scope.get_contacts_function = function()
	{
	
	   $scope.show_contacts = true;
	   $scope.show_update_expression = true;
	   $scope.show_update_input = false;
	   $scope.click = true;
	   $scope.show_calendar = false;

	

	   $scope.getContactsList();
	   $scope.getOptionsList();
	  
	   
	}	

	$scope.calendar_function = function()
	{
	   $scope.show_contacts = false;
	   $scope.show_calendar = true;

	   $scope.search = "";
	}
	
	$scope.settings_function = function()
	{
	   $scope.show_contacts = false;
	   $scope.search = "";
	}
	
	$scope.add_contact_function = function()
	{
	    $scope.get_new_contact_details = true;
		 $scope.click = false;
	}
	
	$scope.cancel_function = function()
	{
	    $scope.get_new_contact_details = false;
		$scope.click = true;
		$scope.newName=undefined;
		$scope.newStatus=undefined;
		$scope.newPhoneNumber=undefined;
		$scope.newEmail=undefined;
		$scope.newAddress=undefined;
	}
	
	$scope.getOptionsList = function()
	{
		$log.log("entered getStatusList() = function()");
		 $http.get("http://localhost:3000/getStatusOptions").then(
			function (response) {//success callback
				$scope.options = response.data.statusOptions;//return the list of the statusOptions
			},
			function (response) {//failure callback
			    $scope.message = response.data.error;
				$scope.message_type = "ERROR";
			    angular.element(Message_Modal).modal("show");
			}	
		);
	   
	
	}
	
	$scope.update_contact_function = function(contact)
	{
		contact_before_update = {Name:contact.Name,Status:contact.Status, PhoneNumber:contact.PhoneNumber, eMail:contact.eMail, Address:contact.Address};
		$log.log("contact name : "+contact.Name);
		$scope.update_status = contact_before_update.Status;
		 $log.log("contactIsEdit : "+$scope.contactIsEdit);

        		
	}
	
	$scope.onChange = function(option){
		if(option==new_status_option)
		{
		    angular.element(myModalHorizontal).modal("show");
		 }
	
	 // The option selected is stored in $scope.selectedOption
	 // perform the business logic using $scope.selectedOption
	}
	
	$scope.save_new_status = function()
	{
	
		$log.log("save_new_status "+$scope.status_from_modal);
		if($scope.status_from_modal != undefined)
		{
			if($scope.status_from_modal != "")
			{
			    var new_status= {Status:$scope.status_from_modal};
				$http.post("http://localhost:3000/addOption", {
				new_status: new_status,
				}).then(
				function (response) { //success callback
                    $scope.newStatus="";
                 // $scope.update_status=$scope.status_from_modal;				  
                  $scope.getOptionsList();				
				},
				function (response) { //failure callback
					$scope.message = response.data.error;
					$scope.message_type = "ERROR";
					angular.element(Message_Modal).modal("show");
				}
				);
			}
		}
		
		$scope.status_from_modal =undefined;
	}
		
	
	$scope.getContactsList = function(){// get the list of the contacts
		 $http.get("http://localhost:3000/getContacts").then(
			function (response) {//success callback
				$scope.contactsInfo = response.data.contacts;//return the list of the contacts
			},
			function (response) {//failure callback
				$scope.message = response.data.error;
				$scope.message_type = "ERROR";
			    angular.element(Message_Modal).modal("show");
			}	
		);
		
	}
	
	$scope.check_and_save_details = function()
	{
	  $log.log("enter check_and_save_details ");
	  $log.log($scope.newName);
	  $log.log($scope.newPhoneNumber);
	  $log.log($scope.newEmail);
	  $log.log($scope.newAddress);
  
	  if($scope.newName!=undefined)
	  {
		var name = $scope.newName;
		if(name.length > MAX_LETTERS_IN_NAME){//check the length of the name
		    $scope.message_type = "WARNNING";
		    $scope.message = "This name is too long, therefore only "+ MAX_LETTERS_IN_NAME  +" characters including spaces will be saved";
		    angular.element(Message_Modal).modal("show");
			$scope.newName=$scope.newName.slice(0, MAX_LETTERS_IN_NAME);
			return;
		}
	  }
	  else
	  {
		$scope.newName="";
	  }
	  
	  if($scope.newStatus==undefined || $scope.newStatus=="" || $scope.newStatus==new_status_option) 
	  {
		 $scope.newStatus="";
	  }
	  
		
		if($scope.newPhoneNumber==undefined || $scope.newPhoneNumber== "")
		{//check the phone number
		    $scope.message_type = "ERROR";
		    $scope.message = "You must enter a phone number";
		    angular.element(Message_Modal).modal("show");
		    return;
			
		}
		else
		{
		    var valid_phone_number =  /^\+?([0-9]{2})?[0-9]{7,10}$/;
		    if(!valid_phone_number.test($scope.newPhoneNumber))
			{//check the phone number
			    $scope.message_type = "ERROR";
		        $scope.message = "This phone number is invalid";
		        angular.element(Message_Modal).modal("show");
				$scope.newPhoneNumber=undefined;
				return;
			}
		}
			
		
		if($scope.newEmail!=undefined)
		{
			var valid_email = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				if( !valid_email.test($scope.newEmail)){//check the email
				    $scope.message_type = "ERROR";
		            $scope.message = "This email is invalid";
		            angular.element(Message_Modal).modal("show");
					$scope.newEmail=undefined;
					return;
				}
		}
        else
		{
		   $scope.newEmail= undefined ;
        }		
		
		if($scope.newAddress!=undefined)
		{
		    var address = $scope.newAddress;
			if(address.length > MAX_LETTERS_IN_ADDRESS){//check the length of the address
		        $scope.message_type = "WARNNING";
		        $scope.message = "This address is too long, therefore only "+ MAX_LETTERS_IN_ADDRESS +" characters including spaces will be saved";
			    angular.element(Message_Modal).modal("show");
				$scope.newAddress=$scope.newAddress.slice(0, MAX_LETTERS_IN_ADDRESS);
				return;
			}
			
		}
		else
		{
		   $scope.newAddress = "";
		}
		
		$scope.click = true;
     	$log.log(" before new contact:");
		$scope.addNewContact();
	}
	
	
	$scope.addNewContact = function(){
				
		var contact={Name:$scope.newName,Status:$scope.newStatus, PhoneNumber:$scope.newPhoneNumber, eMail:$scope.newEmail, Address:$scope.newAddress};
		$http.post("http://localhost:3000/addContact", {
				contact: contact,
			}).then(
				function (response) { //success callback  
                    $log.log("phone exists response : "+response.data.phone_exists);				
					if(!response.data.phone_exists)
					{
						$scope.get_new_contact_details=false;
						$scope.getContactsList();
						$scope.newName=undefined;
						$scope.newPhoneNumber=undefined;
						$scope.newEmail=undefined;
						$scope.newAddress=undefined;

					}
					else
					{
					   alert(response.data.phone_exists);
					}				
					
				},
				function (response) { //failure callback
					$scope.newName=undefined;
					$scope.newPhoneNumber=undefined;
					$scope.newEmail=undefined;
					$scope.newAddress=undefined;
					alert(response.data.error);
				}
			);
	}
	
	
	$scope.delete_contact_function = function(contact)
	{
		$http.post("http://localhost:3000/deleteContact", {
				contact: contact,
			}).then(
				function (response) { //success callback            
					$scope.getContactsList();
				},
				function (response) { //failure callback
					alert(response.data.error);
				}
			);
	}
	
	
	
	$scope.save_updated = function(contactInfoToUpdate)
	{
		$log.log("Status before: "+ contact_before_update.Status);
		$log.log("Status after : "+ contactInfoToUpdate.Status);
		if(contactInfoToUpdate.Name!=undefined)
		{
			if(contactInfoToUpdate.Name.length > MAX_LETTERS_IN_NAME){//check the length of the name
			$scope.message_type = "WARNNING";
		    $scope.message = "This name is too long, therefore only "+ MAX_LETTERS_IN_NAME  +" characters including spaces will be saved";
		    angular.element(Message_Modal).modal("show");
			contactInfoToUpdate.Name=contactInfoToUpdate.Name.slice(0, MAX_LETTERS_IN_NAME);
			return;
			}
		}
		else
		{
			contactInfoToUpdate.Name="";
		}
		  
		if(contactInfoToUpdate.Status==undefined || contactInfoToUpdate.Status=="") 
		{
			contactInfoToUpdate.Status="";
		}
		else if (contactInfoToUpdate.Status==new_status_option)
		{
		
		    if (contact_before_update.Status==new_status_option)
			{
			  contactInfoToUpdate.Status = "";
			}
			contactInfoToUpdate.Status = contact_before_update.Status;
		}
			
		if(contactInfoToUpdate.PhoneNumber!=undefined && contactInfoToUpdate.PhoneNumber!= "")
		{//check the phone number
			var valid_phone_number =  /^\+?([0-9]{2})?[0-9]{7,10}$/;
		    if(!valid_phone_number.test(contactInfoToUpdate.PhoneNumber))
			{//check the phone number
				 $scope.message_type = "ERROR";
		         $scope.message = "This phone number is invalid";
		         angular.element(Message_Modal).modal("show");
				return;
			}
		}
		else
		{
		    $scope.message_type = "ERROR";
		    $scope.message = "You must enter a phone number";
		    angular.element(Message_Modal).modal("show");
		   return;
		}
			
		
		if(contactInfoToUpdate.eMail!=undefined && contactInfoToUpdate.eMail!="" && contactInfoToUpdate.eMail!=null)
		{
			var valid_email = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				if( !valid_email.test(contactInfoToUpdate.eMail)){//check the email
					$scope.message_type = "ERROR";
		            $scope.message = "This email is invalid";
		            angular.element(Message_Modal).modal("show");
					return;
				}
		}
        else
		{
		   contactInfoToUpdate.eMail="";
        }		
		
		if(contactInfoToUpdate.Address!=undefined)
		{
			if(contactInfoToUpdate.Address.length > MAX_LETTERS_IN_ADDRESS){//check the length of the address
				$scope.message_type = "WARNNING";
		        $scope.message = "This address is too long, therefore only "+ MAX_LETTERS_IN_ADDRESS +" characters including spaces will be saved";
			    angular.element(Message_Modal).modal("show");
				$scope.newAddress=$scope.newAddress.slice(0, MAX_LETTERS_IN_ADDRESS);
				contactInfoToUpdate.Address=contactInfoToUpdate.Address.slice(0, MAX_LETTERS_IN_ADDRESS);
				return;
			}
			
		}
		else
		{
		   contactInfoToUpdate.Address = "";
		}
		var updated_contact={Name:contactInfoToUpdate.Name,Status:contactInfoToUpdate.Status, PhoneNumber:contactInfoToUpdate.PhoneNumber, eMail:contactInfoToUpdate.eMail, Address:contactInfoToUpdate.Address};
		$http.post("http://localhost:3000/updateContact", {
				contact_before_update: contact_before_update,updated_contact:updated_contact
			}).then(
				function (response) { //success callback   

                   $log.log("phone exists response : "+response.data.phone_exists);				
					if(!response.data.phone_exists)
					{
                          $scope.getContactsList();
					}
					else
					{
					   $scope.message_type = "ERROR";
					   $scope.message = response.data.phone_exists;
					   angular.element(Message_Modal).modal("show");
					  
					    
					}					
					
				},
				function (response) { //failure callback
					
					
				}
			);
	}
	}]);
})();
		</script>
	</body>
</html>